@font-face {
  font-family: "SuisseIntl";
  src: url("https://practicum-content.s3.us-west-1.amazonaws.com/fonts/SuisseIntl-Book-WebXL.woff2");
}

* {
  margin: 0;
  padding: 0;
  background: #60aeff;
}

.page {
  color: #131313;
  max-width: 600px;
  font-family: "SuisseIntl", sans-serif;
  margin: auto;
  text-align: center;
}

.title {
  padding: 20px 0;
}

.section__title {
  padding: 10px 0;
}
